<body class="hold-transition register-page">
    <div class="register-box">
      <!-- /.login-logo -->
      <div class="logo-row">
        <img src = "./../../assets/dist/img/ictms logo.png" class="ictms_logo">
      </div>
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <h1><b>RICTMS</b>FO5</h1>
        </div>
        <div class="card-body">
          <h5 class="login-box-msg"><b>REGISTRATION FORM</b></h5>
    
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
            <div class="input-group mb-3">
              <input type="text" formControlName="firstname" class="form-control" [ngClass]="{ 'is-invalid': f['firstname'].touched && f['firstname'].errors }" placeholder="First Name"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
              <div class="input-group" *ngIf="f['firstname'].touched && f['firstname'].errors" >
                <div class="text text-danger" *ngIf="f['firstname'].errors['required']">
                  First Name is required
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" formControlName="middlename" class="form-control"  placeholder="Middle Name"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': f['lastname'].touched && f['lastname'].errors }" placeholder="Last Name"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
              <div class="input-group" *ngIf="f['lastname'].touched && f['lastname'].errors" >
                <div class="text text-danger" *ngIf="f['lastname'].errors['required']">
                  Last Name is required
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" formControlName="position" class="form-control" [ngClass]="{ 'is-invalid': f['position'].touched && f['position'].errors }" placeholder="Position"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-suitcase"></span>
                </div>
              </div>
              <div class="input-group" *ngIf="f['position'].touched && f['position'].errors" >
                <div class="text text-danger" *ngIf="f['position'].errors['required']">
                  Position is required
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" formControlName="obsu" class="form-control" [ngClass]="{ 'is-invalid': f['obsu'].touched && f['obsu'].errors }" placeholder="OBSU (Office - Service - Division/Unit)"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-building"></span>
                </div>
              </div>
              <div class="input-group" *ngIf="f['obsu'].touched && f['obsu'].errors" >
                <div class="text text-danger" *ngIf="f['obsu'].errors['required']">
                  OBSU is required
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" formControlName="designation" class="form-control" [ngClass]="{ 'is-invalid': f['designation'].touched && f['designation'].errors }" placeholder="Designation, if there's any."/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user-tie"></span>
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" formControlName="email_address" class="form-control" [ngClass]="{ 'is-invalid': f['email_address'].touched && f['email_address'].errors }" placeholder="Email Address"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              <div class="input-group" *ngIf="f['email_address'].touched && f['email_address'].errors" >
                <div class="text text-danger" *ngIf="f['email_address'].errors['required']">
                  Email Address is required
                </div>
                <div class="text text-danger" *ngIf="f['email_address'].errors['email']">
                  Email Address is invalid <br> (ex. juandelacruz@gmail.com)
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" formControlName="contact_number" class="form-control" [ngClass]="{ 'is-invalid': f['contact_number'].touched && f['contact_number'].errors }" placeholder="Contact Number"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-address-book"></span>
                </div>
              </div>
              <div class="input-group" *ngIf="f['contact_number'].touched && f['contact_number'].errors" >
                <div class="text text-danger" *ngIf="f['contact_number'].errors['required']">
                  Contact Number is required
                </div>
                <div class="text text-danger" *ngIf="f['contact_number'].errors['pattern']">
                  Contact Number is invalid <br> (ex. 09123456789 or +639123456789)
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': f['username'].touched && f['username'].errors }" placeholder="Username"/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
              <div class="input-group" *ngIf="f['username'].touched && f['username'].errors" >
                <div class="text text-danger" *ngIf="f['username'].errors['required']">
                  Username is required
                </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input [type]="password" class="form-control" id="password" formControlName="password" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i (click)="onClick()" class="fa fa-eye"  *ngIf="!show"></i>
                  <i (click)="onClick()" class="fa fa-eye-slash"  *ngIf="show"></i>
                </div>
              </div>
              
              <div class="input-group" *ngIf="f['password'].touched && f['password'].errors" >
                <div class="text text-danger" *ngIf="f['password'].errors['required']">
                  Password is required
                </div>
                <div class="text text-danger" *ngIf="f['password'].errors['minlength']">
                  Password must be at least 8 characters
                </div>
                <div class="text text-danger" *ngIf="f['password'].hasError('passwordStrength')">
                  {{f['password'].errors['passwordStrength']}}
                 </div>
              </div>
            </div>

            <div class="input-group mb-3">
              <input [type]="password" class="form-control" id="confirm_password" formControlName="confirm_password" placeholder="Confirm Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
              <div class="input-group" *ngIf="f['confirm_password'].touched && f['confirm_password'].errors" >
                <div class="text text-danger" *ngIf="f['confirm_password'].errors['required']">
                  Confirm Password is required
                </div>
                <div class="text text-danger" *ngIf="f['confirm_password'].errors['matching']">
                  Confirm Password does not match
                </div>
              </div>
            </div>
            

            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" [ngClass]="{ 'is-invalid': submitted && f['acceptTerms'].errors }" formControlName="acceptTerms" required="required" id="agreeTerms" name="terms" value="true">
                  <label for="agreeTerms">
                   I accept <a href="#">Terms of Use</a>
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-block">Register</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
    
          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-center">I already have a account</a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    
</body>
